<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    link(rel="stylesheet", href="/mainPageStyle.css")
    <title>Добро пожаловать</title>
</head>
<body>
    #container.homeContainer
        h1 Добро пожаловать
        p.startText Словарь нужен для тех то, и тех то. Вы можете найти то и то. Удачи в жизни. Всем пока. Для начала работы со словарем нажмите на кнопку ниже
        a.startBtn(href='search') Найти слово
</body>
</html>